.headerModal{
	color: white;
	background-color: #751f21;
	-webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 
}
.footerModal{
	color: white;
	background-color: #751f21;
	-webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 
}
.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 
}
.Guardar{
	color: black;
	background-color: white;
	border-color: #751f21;
}
.Guardar:hover{
	color: white;
	background-color: #751f21;
	border-color: white;
}
.btnAgregar{
	color: white;
	background-color: #b42f2c;
}
.btnAgregar:hover{
	background-color: #751f21;
}
.botonImprimir{
	width:30px;
}
.dataTables_wrapper .dt-buttons {
  float:none;  
  line-height: 60px;
  text-align:center;
}