*{
	padding:0;
	margin:0;
}

body{
	background-color:#680508;
}

.main{
	padding-top:6%;
}

.login{
	padding:5%;
	background-color:#ffffff;
	box-shadow: 1px 1px 42px 5px black;
	border-radius: 13px;
}

.incorrecto{

	display: none;
}
.campo{
	box-shadow: 1px 1px 15px -2px black;
}
.ingresar{
	background-color: #890d14;
	color: white;
}
